################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/G42Warehouse/bin/Debug/net8.0
/G42Warehouse/obj
/G42Warehouse.Tests/bin/Debug/net8.0
/G42Warehouse.Tests/obj
